FROM {{ nuage_config['RHRegistry'] }}/{{ nuage_config['OSNamespace'] }}/openstack-nova-compute:{{ nuage_config['OSRelease'] }}.{{ nuage_config['OSMinorRelease'] }}
MAINTAINER Nuage OpenStack Engineering opensource@nuagenetworks.net

{% if 'NuagePatchRelease' in nuage_config %}
LABEL name="nuagenetworks/rhosp{{ nuage_config['OSRelease'] }}-openstack-nova-compute-{{ nuage_config['NuageMajorRelease'] }}-{{ nuage_config['NuageMinorRelease'] }}-{{ nuage_config['NuageUpdateRelease'] }}-{{ nuage_config['NuagePatchRelease'] }}"
LABEL version="{{ nuage_config['NuageMajorRelease'] }}.{{ nuage_config['NuageMinorRelease'] }}.{{ nuage_config['NuageUpdateRelease'] }}.{{ nuage_config['NuagePatchRelease'] }}"
{% else %}
LABEL name="nuagenetworks/rhosp{{ nuage_config['OSRelease'] }}-openstack-nova-compute-{{ nuage_config['NuageMajorRelease'] }}-{{ nuage_config['NuageMinorRelease'] }}-{{ nuage_config['NuageUpdateRelease'] }}"
LABEL version="{{ nuage_config['NuageMajorRelease'] }}.{{ nuage_config['NuageMinorRelease'] }}.{{ nuage_config['NuageUpdateRelease'] }}"
{% endif %}

LABEL maintainer="opensource@nuagenetworks.net"
LABEL vendor="Nuage"
LABEL release="{{ nuage_config['NuageRelease'] }}"
LABEL summary="Red Hat OpenStack Platform {{ nuage_config['OSRelease'] }}.{{ nuage_config['OSMinorRelease'] }} nova-compute Nuage Nova Plugin"
LABEL description="Red Hat OpenStack Platform {{ nuage_config['OSRelease'] }}.{{ nuage_config['OSMinorRelease'] }} nova-compute Nuage Nova Plugin"

USER root

COPY RPM-GPG-KEY-Nuage /tmp/RPM-GPG-KEY-Nuage
COPY nuage.repo /etc/yum.repos.d/nuage.repo


{% if nuage_config['OSRelease'] | string == '13' %}
RUN yum install --disablerepo "*" --enablerepo Nuage 6wind-openstack-extensions -y
{% elif nuage_config['OSRelease'] | string == '16' %}
RUN yum install --disablerepo "*" --enablerepo Nuage fp-vdev-remote os-vif-6wind-plugin -y
{% endif %}


RUN yum clean all
RUN rm -f /etc/yum.repos.d/nuage.repo

COPY licenses /licenses

USER nova