FROM {{ nuage_config['RHRegistry'] }}/{{ nuage_config['OSNamespace'] }}/openstack-heat-api-cfn:{{ nuage_config['OSRelease'] }}.{{ nuage_config['OSMinorRelease'] }}
MAINTAINER Nuage OpenStack Engineering opensource@nuagenetworks.net

LABEL name="nuagenetworks/rhosp{{ nuage_config['OSRelease'] }}-openstack-heat-api-cfn-{{ nuage_config['NuageMajorRelease'] }}-{{ nuage_config['NuageMinorRelease'] }}-{{ nuage_config['NuageUpdateRelease'] }}"
LABEL maintainer="opensource@nuagenetworks.net"
LABEL vendor="Nuage"
LABEL version="{{ nuage_config['NuageMajorRelease'] }}.{{ nuage_config['NuageMinorRelease'] }}.{{ nuage_config['NuageUpdateRelease'] }}"
LABEL release="{{ nuage_config['NuageRelease'] }}"
LABEL summary="Red Hat OpenStack Platform {{ nuage_config['OSRelease'] }}.{{ nuage_config['OSMinorRelease'] }} heat-api-cfn Nuage Heat Plugin"
LABEL description="Red Hat OpenStack Platform {{ nuage_config['OSRelease'] }}.{{ nuage_config['OSMinorRelease'] }} heat-api-cfn Nuage Heat Plugin"

USER root

RUN yum -y update-minimal --security --sec-severity=Important --sec-severity=Critical

COPY RPM-GPG-KEY-Nuage /tmp/RPM-GPG-KEY-Nuage
COPY nuage.repo /etc/yum.repos.d/nuage.repo
RUN yum -y install --disablerepo "*" --enablerepo Nuage nuage-openstack-neutronclient && yum clean all

RUN rm -f /etc/yum.repos.d/nuage.repo

COPY licenses /licenses

USER heat