FROM registry.redhat.io/rhosp-beta/openstack-horizon:16.1
MAINTAINER Nuage OpenStack Engineering opensource@nuagenetworks.net

LABEL name="nuagenetworks/rhosp{{ nuage_config['OSRelease'] }}-openstack-horizon-{{ nuage_config['NuageMajorRelease'] }}-{{ nuage_config['NuageMinorRelease'] }}-{{ nuage_config['NuageUpdateRelease'] }}"
LABEL maintainer="opensource@nuagenetworks.net"
LABEL vendor="Nuage"
LABEL version="{{ nuage_config['NuageMajorRelease'] }}.{{ nuage_config['NuageMinorRelease'] }}.{{ nuage_config['NuageUpdateRelease'] }}"
LABEL release="{{ nuage_config['NuageRelease'] }}"
LABEL summary="Red Hat OpenStack Platform {{ nuage_config['OSRelease'] }}.0 horizon Nuage Horizon Plugin"
LABEL description="Red Hat OpenStack Platform {{ nuage_config['OSRelease'] }}.0 horizon Nuage Horizon Plugin"

COPY RPM-GPG-KEY-Nuage /tmp/RPM-GPG-KEY-Nuage
COPY nuage.repo /etc/yum.repos.d/nuage.repo
RUN yum -y install --disablerepo "*" --enablerepo Nuage nuage-openstack-horizon nuage-openstack-neutronclient && yum clean all

RUN rm -f /etc/yum.repos.d/nuage.repo

COPY licenses /licenses
