FROM registry.redhat.io/rhosp-beta/openstack-nova-compute:16.1
MAINTAINER Nuage OpenStack Engineering opensource@nuagenetworks.net

LABEL name="nuagenetworks/rhosp{{ nuage_config['OSRelease'] }}-openstack-nova-compute-{{ nuage_config['NuageMajorRelease'] }}-{{ nuage_config['NuageMinorRelease'] }}-{{ nuage_config['NuageUpdateRelease'] }}"
LABEL maintainer="opensource@nuagenetworks.net"
LABEL vendor="Nuage"
LABEL version="{{ nuage_config['NuageMajorRelease'] }}.{{ nuage_config['NuageMinorRelease'] }}.{{ nuage_config['NuageUpdateRelease'] }}"
LABEL release="{{ nuage_config['NuageRelease'] }}"
LABEL summary="Red Hat OpenStack Platform {{ nuage_config['OSRelease'] }}.0 nova-compute Nuage Nova Plugin"
LABEL description="Red Hat OpenStack Platform {{ nuage_config['OSRelease'] }}.0 nova-compute Nuage Nova Plugin"

USER root

COPY RPM-GPG-KEY-Nuage /tmp/RPM-GPG-KEY-Nuage
COPY nuage.repo /etc/yum.repos.d/nuage.repo
RUN yum install --disablerepo "*" --enablerepo Nuage 6wind-openstack-extensions  -y && yum clean all

RUN rm -f /etc/yum.repos.d/nuage.repo

COPY licenses /licenses

USER nova
