FROM {{ nuage_config['RHRegistry'] }}/{{ nuage_config['OSNamespace'] }}/openstack-heat-engine:{{ nuage_config['OSRelease'] }}.{{ nuage_config['OSMinorRelease'] }}
MAINTAINER Nuage OpenStack Engineering opensource@nuagenetworks.net


{% if 'NuagePatchRelease' in nuage_config %}
LABEL name="nuagenetworks/rhosp{{ nuage_config['OSRelease'] }}-openstack-heat-engine-{{ nuage_config['NuageMajorRelease'] }}-{{ nuage_config['NuageMinorRelease'] }}-{{ nuage_config['NuageUpdateRelease'] }}-{{ nuage_config['NuagePatchRelease'] }}"
LABEL version="{{ nuage_config['NuageMajorRelease'] }}.{{ nuage_config['NuageMinorRelease'] }}.{{ nuage_config['NuageUpdateRelease'] }}.{{ nuage_config['NuagePatchRelease'] }}"
{% else %}
LABEL name="nuagenetworks/rhosp{{ nuage_config['OSRelease'] }}-openstack-heat-engine-{{ nuage_config['NuageMajorRelease'] }}-{{ nuage_config['NuageMinorRelease'] }}-{{ nuage_config['NuageUpdateRelease'] }}"
LABEL version="{{ nuage_config['NuageMajorRelease'] }}.{{ nuage_config['NuageMinorRelease'] }}.{{ nuage_config['NuageUpdateRelease'] }}"
{% endif %}

LABEL maintainer="opensource@nuagenetworks.net"
LABEL vendor="Nuage"
LABEL release="{{ nuage_config['NuageRelease'] }}"
LABEL summary="Red Hat OpenStack Platform {{ nuage_config['OSRelease'] }}.{{ nuage_config['OSMinorRelease'] }} heat-engine Nuage Heat Plugin"
LABEL description="Red Hat OpenStack Platform {{ nuage_config['OSRelease'] }}.{{ nuage_config['OSMinorRelease'] }} heat-engine Nuage Heat Plugin"

USER root

RUN yum --releasever {{ nuage_config['RhelRelease'] }} -y --disablerepo "*"  --enablerepo "{{ nuage_config['RhelRepos'] }}"  update-minimal --security --sec-severity=Important --sec-severity=Critical

COPY RPM-GPG-KEY-Nuage /tmp/RPM-GPG-KEY-Nuage
COPY nuage.repo /etc/yum.repos.d/nuage.repo
RUN yum -y install --disablerepo "*" --enablerepo Nuage nuage-openstack-heat nuage-openstack-neutronclient && yum clean all

RUN rm -f /etc/yum.repos.d/nuage.repo

COPY licenses /licenses

USER heat